@page
@model AspnetClient.Pages.IndexModel
@{
}

<html>
    <body>
        <form action="Account/Login?redirectUrl=https://chat.local/signin-oidc" method="get">
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>
