@page
@model Client.Pages.IndexModel
@{
}
<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <form method="get" action="/Auth/Login">
            <button>login</button>
        </form>
    </body>
</html>