[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = MD
ST = State
L = Rybnita
O = Idc
OU = it 
CN = www.localhost.auth.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
IP.1 = 172.21.112.1
DNS.1 = www.localhost.auth.com
DNS.2 = localhost.auth.com
DNS.3 = localhost.auth